# Entorno virtual
.venv/
venv/
env/

# Variables de entorno
.env

# Logs
logs/
*.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Playwright
playwright/.local-chromium/
playwright-report/

# macOS
.DS_Store
